body {
	background-color: #E0E7FF;
}
h1 {
    text-align: center;
    font-size: 32pt;
}
p {
    text-align: center;
    font-size: 12pt;
}
.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.jumbotron {
    background-image: url("banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 200px;
    background-color: #E0E7FF;
}
.topnav {
    background-color: #312E81;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 16px;
}
.topnav a:hover {
    background-color: #EEF2FF;
    color: black;
}
.topnav a.active {
    background-color: #6366F1;
    color: white;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #312E81;
    color: white;
    text-align: center;
    height: 30px;
    padding: 5px 5px;
}
.footer_text {
    text-align: center;
    font-size: 9pt;
}